/*
Colors:
#EFECED
#c9e4ff
#64727F
#536A7f

*/



/*============= Searh Box  ======================
===========================================================*/



body{
  background-color: #FEFDF2;
/*  background-image: url(../images/houseBG.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  margin: 0;*/
}

.header{
    width:100%;
    background-color: #c9e4ff;
}



.searchZip{
   position: fixed;
   top: 0;
   height:30px;
   width: 100%;
   padding: 0 1.5%; /* 20px/1000px*/
   background-color:white;
   box-shadow: 0px 2px 2px #000000;
   z-index:3;
   margin-top: 80px;
   overflow: hidden;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(100,114,127,0.5);
}

/*=========== Navigation ===============
==============================*/


.navigation{
   position: fixed;
   top: 0;
   height:80px;
   width: 100%;
   padding: 0 1.5%; /* 20px/1000px*/
   background-color:#64727f;
   box-shadow: 0px 3px 3px #000000;
   z-index:3;
   overflow: hidden;
}

#nav_list{
  overflow:hidden;
  float: left
}


#box p{
  font-size: 1.8em;
  display: inline-block;
  margin-top: 5px;
  text-align: left;
}

#box {
  width: 26%; /* 260px/1000px */
  float: left;
  color: #E3E6E9;
  margin-left:50px;
}

nav>ul{
  margin: 0;
    padding: 0px 1% ;/* 10px/1000px */ /* 20px/1000px */
    text-align: center;
    width: 64%; /* 640px/1000px */
    line-height: 97px;
    float: left;
    height: 110px;
}

nav ul~ul{
   width: 64%; /* 640px/1000px */
}


nav ul>li{
  padding-left:0;
  font-family:"Optima", sans-serif;
  font-size: 1.2em;

}

nav ul li{
  font-family:"Optima", sans-serif;
  list-style: none;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  padding: 0 1.041666666%; /*10px/960px*/

}

nav ul li a{
  text-decoration: none;
  color:#EFECED;
  font-family:"Optima", sans-serif;
  left: 0;
}

nav ul li a:hover{
  font-weight: bold;
  color: #c9e4ff;
}

#log_in{

  margin-bottom: 280px;
}


#sign_in a{
  text-decoration: none;
  margin-right: 0px;
  margin-left: 0px;
  background: transparent;
  border-radius:0px;
  padding: 7px;
  color: rgb(242,242,242);
  width: 100px;

}

#register{
  width: 100px;

}

#register a{
  text-decoration:none;
  background: transparent;
  color: rgb(255,255,255);
  border-radius:0px;
  padding: 7px;
  width: 100px;

}

#sign_in a:hover {

  background: #536A7f;
  color: rgb(250,250,250);
  font-weight: bold;
}

#register a:hover{
  background:  #536A7f;
  color: rgb(250,250,250);
  font-weight: bold;
}


.float_left{
  float: left;
}

.float_right{
  float: right;
}

.clear{
  clear: both;
}


/*===========LOGO===============
==============================*/

h1{
  text-indent: -9999px;
  background: url(../images/Logo2.png);
  background-repeat: no-repeat;
  height: 90px;
  width: 200px;
  margin: 7px 0px 0px 0px;
  z-index: -1;
}

h4{
  font-family:"Optima", sans-serif;
  margin: 0 0 5px;
}

p{
  font-family:"Optima", sans-serif;
  margin: 0 0 5px;
}

a{
    font-family:"Optima", sans-serif;
    margin: 0 0 5px;
}

h3{
  padding-top: 5px;
  font-family:"Optima", sans-serif;
  color: #536A7f;
  margin: 0 0 70px;
  padding-left: 50px;
}

.address{
  font-family:"Optima", sans-serif;
  font-weight: bold;

}

/*============= Searh Box  ======================
===========================================================*/


form {
  width:40%;
  margin:0 auto;
  padding-top:320px;
  background-color: transparent;
}

.boxbox {
  height:60px;
  border-style:solid;
  border-width:6px;
  border-color:#64727F;
  box-shadow: 3px 3px 3px 3px #1f1f1f;

}

.search, .submit {
  font-size:18px;
  padding:0 15px;
  height: 100%;
  border:none;
}

.search {
  highlight-color: #64727F;
}

textarea, input {
   font-family:"Optima", sans-serif;
   background-color: white;

}
input{
	width: 64%;
	padding: 0 3% !important;
}

textarea:focus, input:focus {
   color:#64727F;
   outline:none;
}

.submit {
  font-weight:600;
  background:#64727F;
  color:#fff;
  height:100%;
  width:30%;
  float:right;
  transition: all 100ms ease-in-out;
}


/*============= Search Results ======================
===========================================================*/



.searchDetails{
    color:#536A7f;
    border-style:groove;
    border-width:1px;
    background-color: white;
    border-color:#536A7f;
    margin: 0 15px 20px;
    padding: 10px 10px 10px 10px;
    text-indent: 25px;
    width: 290px;
    height:360px;
    /*position: relative;*/
}

.pushDown{
    margin-top: 150px;
}


.floatDiv{
    width: 400px;
    float: left;
    position: relative;
    padding-left: 50px;
}

.fixed{
    width: 200px;
    background-color: #EFECED;
    position: fixed;
    overflow: hidden;
    float: left;
    border: 1px solid black;
    margin-left: 450px;
    width:850px;
    height: 500px;
}

